<div>
  <div class="grid gap-4 grid-cols-2 mt-6">
    <% @positions.each do |position|%>
      <%= render partial:'layouts/position_card', locals: {position: position} %>
    <%end%>
  </div>
  <div class="pagination">
    <%= paginate @positions %>
  </div>
</div>
